# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
bin/
include/

# Environment variables
.env
.env.production
*.log
*.sqlite3
*.db

# IDEs and editors
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Testing/coverage
.pytest_cache/
.coverage
htmlcov/
